body {
    margin: 0px;
    height: 100vh;
}

header {
    display: flex;
    background-color: black;
    color: whitesmoke;
    font-family: 'Reem Kufi', sans-serif;
    padding: 10px;
    padding-left: 50px;
    justify-content: center;
    align-items: center;
}

/*  */
@media screen and (min-width: 768px) {

}